.navbar{
    box-shadow: 0 0 0 0px var(--olga-black-primary) !important;
}
.ShopHeaderContainer{
    width: 100%;
    height: 60px;
    background-color: var(--olga-white-primary);
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 40px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.ShopHeaderContent{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ProductsQuantity{
    font-size: .75rem;
    font-weight: bold;
    color: var(--olga-black-primary);
}

.ShopHeaderFiltersItem{
    display: flex;
    align-items: center;
    gap: 10px;
}

.ShopHeaderFiltersItem P{
    font-size: .75rem;
    font-weight: bold;
    color: var(--olga-black-primary);
}

.ShopHeaderFiltersItemSelect{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: .75rem;
    font-weight: bold;
    color: var(--olga-black-primary);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 10px; /* Ajusta este valor según sea necesario */
}

.ShopHeaderFiltersItemSelect::-ms-expand {
    display: none;
}
