.ProductCarousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .ProductImage {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    transition: opacity .5s ease;
    
  }
  
  .ProductImage.visible {
    opacity: 1;
    z-index: 1;
  }
  
  .ProductCarousel .carrouselButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    transition: opacity 0.3s ease;
  }
  
  .ProductCarousel .carrouselButton:hover {
    opacity: 0.8;
  }
  
  .ProductCarousel .CarrouselButtonLeft {
    left: 10px;
  }
  
  .ProductCarousel .CarrouselButtonRight {
    right: 10px;
  }
  
  @media (min-width: 768px) {
    .ProductCarousel .carrouselButton {
      display: none;
    }
  
    .ProductCarousel:hover .carrouselButton {
      display: block;
    }
  }
  