.navbar {
    width: 100%;
    max-height: 120px;
    height: fit-content;
    background-color: var(--olga-black-primary);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 100;
}

.NavBarContainer {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.NavBar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    gap: 10px;
}

.NavBar1 img {
    min-width: 140px;
    max-width: 230px;
    width: 100%;
    height: 14px;
    object-fit: contain;
    padding-right: 10px;
}

.NavBar1-1 {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    width: fit-content
}

.NavBar1-1 a,
.NavBar1-1 button {
    height: 30px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.NavBar1-1 .whishlistHeader,
.NavBar1-1 .accoutHeader,
.NavBar1-1 .BTNSearch {
    color: var(--olga-gray-100);
    display: flex;

}

.NavBar1-1 .whishlistHeader:hover,
.NavBar1-1 .accoutHeader:hover,
.NavBar1-1 .BTNSearch:hover {
    color: var(--olga-white-primary);
}


.NavBar1-1 .BTNSearch {
    background-color: transparent;
    border: none;
    cursor: pointer;

}


.hamburgerMenu {
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.hamburgerMenu .bar {
    max-width: 20px;
    width: 100%;
    height: 1px;
    margin: 3px 0;
    background-color: var(--olga-white-primary);
    transition: .4s;
}


.NavBar2 {
    display: none;
}

.NavBarMobileContainer {
    display: none;
}

.searchOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    opacity: 0;
    transition: opacity 0.3s ease-out, backdrop-filter 0.3s ease-out;
}

.SearhContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--olga-black-primary);
    height: 0;
    overflow-y: auto;
    transition: height 0.5s ease-out, opacity 0.3s ease-out, padding 0.3s ease-out;
    padding: 0 22px;
    z-index: 101;
}

.searchOverlay.open{
    opacity: 1;
    height: 100%;
}
.SearhContainer.open {
    max-height: 400px;
    height: fit-content;
    opacity: 1;
    padding: 32px 22px 80px;
}


.SearhContainer::-webkit-scrollbar {
    width: 8px; 
}

.SearhContainer::-webkit-scrollbar-track {
    background-color: var(--olga-black-primary);
}

.SearhContainer::-webkit-scrollbar-thumb {
    background-color: var(--olga-gray-100);
    border-radius: 4px; 
    border: 1px solid var(--olga-black-primary); 
}

.SearhContainer::-webkit-scrollbar-thumb:hover {
    background-color: var(--olga-white-primary); /* Añadimos efecto hover */
}

.SearhContainer .SearchInput{
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
    color: var(--olga-gray-100);
    font-size: 1.25rem;
    font-weight: normal;
    border-bottom: 1px solid var(--olga-gray-50);
    max-width: 1920px;
    width: 100%;
}

.SearchResults{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
    max-width: 1920px;
    width: 100%;
    margin-top: 30px;
}

.SearchResults .searhResultWrapper{
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.SearchResults .searhResultWrapper .ResultImg{
    width: 50px;
    height: 50px;
}


.SearchResults .searhResultWrapper .ResultImg img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.SearchResults .searhResultWrapper .resultDetails {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.SearchResults .searhResultWrapper .resultDetails a {
    text-decoration: underline;
    color: var(--olga-gray-100);
    font-size: 1rem;
    font-weight: normal;
}

.SearchResults .searhResultWrapper .resultDetails a:hover {
    color: var(--olga-white-primary);
}

.SearchResults .searhResultWrapper .resultDetails p {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    color: var(--olga-gray-100);
}



@media screen and (min-width: 768px) {
    .navbar {
        padding: 20px 64px;
    }

    .NavBar2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;

    }

    .NavbarListWrapper {
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .NavbarListWrapper>li {
        padding-inline: 10px;
    }

    .NavbarListWrapper>li .strongLink {
        color: var(--olga-yellow-primary);
    }

    .NavbarListWrapper>li .strongLink:hover {
        color: var(--olga-yellow-primary);
    }

    .NavbarListWrapper>li a {
        text-decoration: none;
        font-size: 0.65rem;
        color: var(--olga-gray-100);
        font-weight: 900;
    }

    .NavbarListWrapper>li a:hover {
        color: var(--olga-white-primary);
    }

    .SearhContainer{
        margin-top: 110px;
    }


}

@media screen and (max-width: 480px) {

    .NavBar1-1 .whishlistHeader,
    .NavBar1-1 .accoutHeader,
    .NavBar1-1 .BTNSearch {
        display: none;
    }


    .NavBarMobileContainer {
        position: fixed;
        justify-self: center;
        align-self: center;
        bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 90%;
        background-color: var(--olga-black-primary);
        border-radius: 20px;
    }

    .NavBarMobileContainer ul {
        display: flex;
        justify-content: center;
        column-gap: 10px;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .NavBarMobileContainer ul li {
        padding-inline: 10px;
    }

    .NavBarMobileContainer ul li a {
        color: var(--olga-gray-100);
    }

    .NavBarMobileContainer ul li button {
        all: unset;
        color: var(--olga-gray-100);
    }


}