.navbar {
    width: 100%;
    height: 40px;
    background-color: var(--olga-white-primary);
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.NavBarContainer {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.NavBar1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    gap: 10px;
}



.NavBar1-3 {
    display: flex;

    align-items: center;
    gap: 10px;
    width: fit-content
}

.NavBar1-3 a,
.NavBar1-3 button {
    height: 30px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.NavBar1-3 .whishlistHeader,
.NavBar1-3 .accoutHeader,
.NavBar1-3 .BTNSearch {
    color: var(--olga-black-primary);
    display: flex;
    border: none;
    background-color: transparent;
    cursor: pointer;

}

.NavBar1-3 .whishlistHeader:hover,
.NavBar1-3 .accoutHeader:hover,
.NavBar1-3 .BTNSearch:hover {
    color: var(--olga-black-secondary);
}


.NavBar1-3 .BTNSearch {
    background-color: transparent;
    border: none;
    cursor: pointer;

}


.hamburgerMenu {
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.hamburgerMenu .bar {
    max-width: 20px;
    width: 100%;
    height: 1px;
    margin: 3px 0;
    background-color: var(--olga-black-primary);
    transition: .4s;
}


.NavBar1-2 {
    display: none;
}

.NavBarMobileContainer {
    display: none;
}

.searchOverlay {
    position: fixed;
    margin-top: 40px;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    opacity: 0;
    transition: opacity 0.3s ease-out, backdrop-filter 0.3s ease-out;
}

.SearhContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--olga-white-primary);
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out, padding 0.3s ease-in-out;
    padding: 0 22px;
    z-index: 101;
}

.searchOverlay.open {
    opacity: 1;
    height: 100%;
}

.SearhContainer.open {
    max-height: 400px;
    height: 400px;
    opacity: 1;
    padding: 32px 22px 80px;
    overflow-y: auto;

}


.SearhContainer .SearchInput {
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
    color: var(--olga-black-primary);
    font-size: 1.25rem;
    font-weight: normal;
    border-bottom: 1px solid var(--olga-black-tp);
    max-width: 1920px;
    width: 100%;
    display: none;
}

.SearhContainer.open .SearchInput {
    display: block;
}

.SearhContainer.open .SearchInput::-webkit-search-cancel-button,
.SearhContainer.open .SearchInput::-webkit-search-decoration,
.SearhContainer.open .SearchInput::-webkit-search-results-button {
    display: none;
}

.SearchResults {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
    max-width: 1920px;
    width: 100%;
    margin-top: 30px;
}

.SearchResults .searhResultWrapper {
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.SearchResults .searhResultWrapper .ResultImg {
    width: 50px;
    height: 50px;
}


.SearchResults .searhResultWrapper .ResultImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.SearchResults .searhResultWrapper .resultDetails {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.SearchResults .searhResultWrapper .resultDetails a {
    text-decoration: underline;
    color: var(--olga-black-primary);
    font-size: 1rem;
    font-weight: normal;
}

.SearchResults .searhResultWrapper .resultDetails a:hover {
    color: var(--olga-black-secondary);
}

.SearchResults .searhResultWrapper .resultDetails p {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    color: var(--olga-black-primary);
}

@media screen and (min-width: 960px) {
    .NavBar1-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
    }

    .NavbarListWrapper {
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .NavbarListWrapper>li {
        padding-inline: 10px;
    }

    .NavbarListWrapper>li .strongLink {
        color: var(--olga-brown-primary);
    }

    .NavbarListWrapper>li .strongLink:hover {
        color: var(--olga-brown-primary);
    }

    .NavbarListWrapper>li a {
        text-decoration: none;
        font-size: .6875rem;
        color: var(--olga-black-primary);
        font-weight: bold;
    }

    .NavbarListWrapper>li a:hover {
        color: var(--olga-black-secondary);
    }
}



@media screen and (min-width: 768px) {}

@media screen and (max-width: 480px) {

    .NavBar1-3 .whishlistHeader,
    .NavBar1-3 .accoutHeader,
    .NavBar1-3 .BTNSearch {
        display: none;
    }


    .NavBarMobileContainer {
        position: fixed;
        justify-self: center;
        align-self: center;
        bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 90%;
        background-color: var(--olga-white-primary);
        opacity: .95;
        border-radius: 20px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
        padding: 10px;
    }

    .NavBarMobileContainer ul {
        display: flex;
        justify-content: center;
        column-gap: 10px;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .NavBarMobileContainer ul li {
        padding-inline: 10px;
    }

    .NavBarMobileContainer ul li a {
        color: var(--olga-black-primary);
    }

    .NavBarMobileContainer ul li button {
        all: unset;
        color: var(--olga-black-primary);
    }


}