.AtelierContainer {
    max-width: 1200px;
    margin: 4rem auto;
    padding: 0 2rem;
}

.AtelierWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin-bottom: 6rem;
    align-items: center;
}

.AtelierContent h2 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
    font-family: 'Playfair Display', serif;
    color: var(--olga-black-secondary);
    font-weight: 600;
}

.AtelierContent p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: var(--olga-black-primary);
    margin-bottom: 1.5rem;
}

.AtelierWrapper img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    padding: 1rem;
    background: var(--olga-white-primary);
}

.atelierFormWrapper {
    background: linear-gradient(to right, #f8f9fa, #ffffff);
    padding: 4rem;
    border-radius: 12px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
}

.AtelierFormDescription {
    text-align: center;
    width: 100%;
    margin: 0 auto 3rem;
}

.atelierFormTitle {
    font-family: 'Playfair Display', serif;
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
    color: var(--olga-black-secondary);
}

.AtelierFormDescription p {
    color: var(--olga-black-primary);
    line-height: 1.7;
    text-align: left;
    margin-bottom: .875rem;
    font-size: 1.25rem;
}

.atelierForm {
    width: 100%;
    margin: 0 auto;
}

.formGroup {
    margin-bottom: 1.5rem;
}

.inputContainer label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--olga-black-secondary);
    font-weight: 500;
}

.inputContainer input,
.inputContainer textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    transition: all 0.3s ease;
    font-size: 1rem;
}

.inputContainer input:focus,
.inputContainer textarea:focus {
    outline: none;
    border-color: var(--olga-black-secondary);
    box-shadow: 0 0 0 2px rgba(44, 62, 80, 0.1);
}

.inputContainer textarea {
    min-height: 150px;
    resize: vertical;
}


.btn-tertiary:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.SuccessMsg,
.ErrorMsg {
    text-align: center;
    padding: 1rem;
    border-radius: 6px;
    margin-bottom: 1.5rem;
}

.SuccessMsg {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.ErrorMsg {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* Responsive */
@media (max-width: 768px) {
    .AtelierWrapper {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .atelierFormWrapper {
        padding: 2rem;
    }

    .AtelierContent h2 {
        font-size: 2.2rem;
    }

    .atelierFormTitle {
        font-size: 2rem;
    }
}