@font-face {
    font-family: 'Nimbus Sans';
    src: url('./NimbusSansNovusTBlack.woff2') format('woff2'),
         url('./NimbusSansNovusTBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nimbus Sans';
    src: url('./NimbusSanNovT-Heavy.woff2') format('woff2'),
         url('./NimbusSanNovT-Heavy.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nimbus Sans';
    src: url('./NimbusSanNovT-SemiBold.woff2') format('woff2'),
         url('./NimbusSanNovT-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nimbus Sans';
    src: url('./NimbusSanNovT-Regular.woff2') format('woff2'),
         url('./NimbusSanNovT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nimbus Sans';
    src: url('./NimbusSanNovT-UltraLight.woff2') format('woff2'),
         url('./NimbusSanNovT-UltraLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}