.CarrouselContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 84px;
  padding-bottom: 46px;
}

.CarrouselHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  flex-wrap: wrap;
}

.CarrouselHeader h2 {
  font-size: min(max(0.8125rem, 5vw), 1rem);
  font-weight: 600;
  color: var(--olga-black-primary);
  text-align: start;
  text-transform: uppercase;
}

.CarrouselHeader .CarrouselButtons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.CarrouselHeader .CarrouselButtons{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.carrusel-viewport {
  width: 100%;
  min-height: 600px;
}


.CarrouselProducts {
  display: flex;
  transition: transform 0.3s ease;
  height: 70vh;
  min-height: 600px;
  width: 100%;
}

.ProductItem {
  display: flex;
  flex-direction: column;
  flex: 0 0 20%;
  min-width: 20%;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.ProductItem img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.ProductItem:hover {
  z-index: 100;
  position: relative;
}


.ProductDetails {
  height: fit-content;
  width: 100%;
  background: var(--olga-white-primary);
  color: var(--olga-black-primary);
  padding: 10px;
  z-index: 1;
  text-decoration: none;
}

.ProductDetails .ProductDetailsHeader {
  width: 100%;
  text-align: start;
}
.ProductDetails .ProductDetailsHeader a {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--olga-black-primary);
  text-decoration: none;
  text-transform: uppercase;
}

.ProductContent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ProductContent p{
  font-size: clamp(0.75rem, 2vw, 0.875rem);
  font-weight: 600;
  color: var(--olga-black-primary);
}

.ProductSize{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 5px;
  padding: 5px 0;
}

.ProductSize span{
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--olga-black-primary);
  text-transform: uppercase;
}

.ProductDetailsFooter {
  background-color: var(--olga-white-primary);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 10px 10px;
  height: 50px;
}

.ProductPriceDiscount{
  text-decoration: line-through;
  color: var(--olga-red-primary);
  margin-right: 5px;
}

@media screen and (min-width: 450px) and (max-width: 768px) {
  .btn-secondary{
    padding: 10px 10px;
  }
}

@media screen and (max-width: 450px) {
  .ProductContent p{
      font-size: .875rem;
    }
  
}

@media (min-width: 768px) {
  .ProductDetailsFooter {
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    z-index: 100;
    opacity: 0;
  }
  
  .ProductDetailsFooter button {
    transform: translateY(20px);
    transition: all 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0;
  }
  
  .ProductItem:hover .ProductDetailsFooter {
    padding: 5px 10px 10px 10px;
    height: 50px;
    opacity: 1;
  }
  
  .ProductItem:hover .ProductDetailsFooter button {
    transform: translateY(0);
    opacity: 1;
  }
}