.ReturnsRefundsContainer{
    width: 100%;
}

.ReturnsRefundsContainer .container{
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ReturnsRefundsContainer h2{
    color: var(--olga-black-primary);
    font-size: 1.25rem;
    font-weight: 700;
    text-align: left;
    width: 100%;
    margin-bottom: 1rem;
}

.ReturnsRefundsContainer p{
    font-size: .875rem;
    text-align: left;
    width: 100%;
    margin-bottom: 1rem;
    color: var(--olga-black-primary);
}

.ReturnsRefundsContainer p strong{
    color: var(--olga-black-secondary);
}

.ReturnsRefundsContainer p a{
    color: var(--olga-black-secondary);
}

.ReturnsRefundsContainer p a:hover{
    color: var(--olga-black-primary);
}

.ReturnsRefundsContainer ul{
    width: 100%;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
}

.ReturnsRefundsContainer .list-style-numeric{
    list-style-type: numeric;
}

.ReturnsRefundsContainer .list-style-disc{
    list-style-type: disc;
}

.ReturnsRefundsContainer li{
    display: list-item;
    color: var(--olga-black-primary);
    font-size: .875rem;
    margin-bottom: 0.5rem;
}