.StartHomeContainer{
    background: black;
    width: 100%;
    min-height: 680px;
    height: 90vh;
    position: relative;
}

.StartHomeImg{
    height: 100%;
    width: 100%;
}

.StartHomeContainer .StartHomeImg > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.StartHomeWrapper{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

.StartHomeWrapper .StartHomeContent{
    position: absolute;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.StartHomeWrapper h1{
    color: var(--olga-white-primary);
    text-align: center;
    text-wrap: balance;
    font-size: min(1.4rem, 7vw);
    font-weight: 600;
    padding: 5px 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.StartHomeWrapper h2{
    color: var(--olga-white-primary);
    text-align: center;
    text-wrap: balance;
    font-size: min(1.25rem, 7vw);
    font-weight:600;
    padding: 5px 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



@media screen and (min-width: 768px) {
   .StartHomeContainer{
    height: 80vh;
   }
}