.NavBar1-3 .CustomerContainer  .customerDropdownContainer{
    position: absolute;
    top:40px;
    left: unset;
    transform: translateX(-50%);
    min-width: 200px;
    background-color: var(--olga-white-primary);
    z-index: 1000;
    border-radius: 6px;
    box-shadow: 0px 8px 24px #0006;
}

.NavBar1-3 .CustomerContainer .customerDropdownContent{
    padding: 2rem 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.NavBar1-3 .CustomerContainer .customerDropdownContent .customerDropdownItem{
    margin-bottom: 1rem;
    width: 100%;
}

.NavBar1-3 .CustomerContainer .customerDropdownContent .customerDropdownItem a{
    text-decoration: none;
    color: var(--olga-black-primary);
    width: 100%;
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: .875rem;
    font-weight: 500;
}

.NavBar1-3 .CustomerContainer .customerDropdownContent .customerDropdownItem a:hover{
    text-decoration: underline;
}

.NavBar1-3 .CustomerContainer .customerDropdownContent .customerDropdownItem button{
    background-color: transparent;
    color: var(--olga-black-primary);
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: .875rem;
    font-weight: 500;
    text-underline-offset: 3px;
}

.NavBar1-3 .CustomerContainer .customerDropdownContent .customerDropdownItem button:hover{
    text-decoration: underline;
}

.NavBar1-3 .CustomerContainer .customerDropdownContent .customerDropdownItem button:disabled{
    opacity: .5;
    cursor: not-allowed;
}

/*Dropdown Mobile*/
.NavBarMobileContainer .customerDropdownContainer{
    position: absolute;
    bottom: 40px;
    left: unset;
    transform: translateX(-50%);
    min-width: 200px;
    background-color: var(--olga-white-primary);
    z-index: 1000;
    border-radius: 6px;
    box-shadow: 0px 8px 24px #0006;
}

.NavBarMobileContainer .customerDropdownContent{
    padding: 2rem 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.NavBarMobileContainer .customerDropdownContent .customerDropdownItem{
    margin-bottom: 1rem;
    width: 100%;
}

.NavBarMobileContainer .customerDropdownContent .customerDropdownItem a{
    text-decoration: none;
    color: var(--olga-black-primary);
    width: 100%;
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: .875rem;
    font-weight: 500;
}

.NavBarMobileContainer .customerDropdownContent .customerDropdownItem a:hover{
    text-decoration: underline;
}

.NavBarMobileContainer .customerDropdownContent .customerDropdownItem button{
    background-color: transparent;
    color: var(--olga-black-primary);
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: .875rem;
    font-weight: 500;
    text-underline-offset: 3px;
}

.NavBarMobileContainer .customerDropdownContent .customerDropdownItem button:hover{
    text-decoration: underline;
}

.NavBarMobileContainer .customerDropdownContent .customerDropdownItem button:disabled{
    opacity: .5;
    cursor: not-allowed;
}


@media (max-width: 768px) {

}

@media (max-width: 480px) {
  
  
}
