.ContainerLogin{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    padding: 46px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FormLogin{
    padding: 32px;
    max-width: 768px;
    width: 90%;
    background: var(--olga-white-primary);
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.FormLogin h1{
    font-size: 1.875rem;
    font-weight: bold;
    color: var(--olga-black-primary);
    margin-bottom: 32px;
    text-align: center;
}

.FormLogin .InputContainer{
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}


.FormLogin .InputContainer label{
    margin-bottom: 4px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--olga-black-primary);
}

.FormLogin .InputContainer input{
    width: 100%;
    height: 40px;
    border: 1px solid var(--olga-gray-100);
    border-radius: 6px;
    padding: 0 8px;
}

.FormLogin .InputContainer input:focus{
    outline: none;
    border: 1px solid var(--olga-black-primary);
}

.FormLogin .RecoveryPassword{
    margin-bottom: 16px;
    text-align: start;
}

.FormLogin .RecoveryPassword a{
    color: var(--olga-black-primary);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
}

.FormLogin .RecoveryPassword a:hover{
    text-decoration: underline;
}

.FormLogin .btn-secondary{
    margin-top: 16px;
    width: 100%;
    border-radius: 0;
    height: 56px;
}

.ErrorMsg{
    color: var(--olga-red-primary);
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}