.overlay-bag{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in-out, background-color .3s ease-in-out, backdrop-filter .3s ease-in-out;
}

.overlay-bag.open {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    opacity: 1;
    pointer-events: auto;
    z-index: 1000;
}

.BagContainer{
    position: fixed;
    background-color: var(--verezza-gray-primary);
    max-width: 560px;
    width: 100%;
    height: 100vh;
    right: -100%;
    top: 0;
    transition: right .7s cubic-bezier(0.55, 0.09, 0.68, 0.53), max-width .7s cubic-bezier(0.55, 0.09, 0.68, 0.53);
    z-index: 1000;
}

.BagContainer.open{
    top: 0;
    right: 0;
    transition: right .3s cubic-bezier(0.55, 0.09, 0.68, 0.53), max-width .3s cubic-bezier(0.55, 0.09, 0.68, 0.53);
}

.BagWrapper{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--verezza-gray-secondary);
    z-index: 1000;
    transition: .3s ease;
    padding: 24px 24px 104px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

}

.BagContent{
    flex: 1 1 auto;
    overflow-y: auto;
}


.BagHeader{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    padding-bottom: 10px;
    row-gap: 10px;
}

.BagHeader::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--verezza-black-tp);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    opacity: 0.5;

}

.BagHeader h2{
    font-size: min(max(1rem, 5vw), 1.25rem);
}

.BagHeader .BagClose{
    all: unset;
    cursor: pointer;
    color: var(--verezza-black-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.BagHeader .BagClose:hover{
    color: var(--verezza-black-secondary);
}

.BagContent .bagEmpty p{
    font-size: 0.875rem;
    font-weight: normal;
    color: var(--verezza-black-primary);
}

.bagItem{
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: start;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--verezza-black-tp);
}

.bagItemImage{
    align-self: center;
    width: 100px;
    height: 150px;
    overflow: hidden;
}

.bagItemImage img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.itemDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itemDetails a{
    font-size: .9375rem;
    font-weight: bold;
    color: var(--verezza-black-primary);
    text-decoration: none;
    padding: 2px 0;
}

.bagPriceIrem{
    display: flex;
    align-items: center;
    margin: 8px 0 18px;
}

.bagPriceIrem .priceWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}

.bagPriceIrem .priceWrapper .productPrice{
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--verezza-green-primary);
}

.productPrice .ProductPriceDiscount{
    text-decoration: line-through;
    color: var(--verezza-red-primary);
    margin-right: 5px;
  }

.itemVariants p{
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--verezza-black-primary);
}

.itemQuantity{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    background-color: var(--verezza-white-primary);
    width: 100px;
    margin-top: 10px;
    border-radius: 15px;
    font-size: .875rem;
}

.itemQuantity button{
    padding: 10px;
    margin: 0;
    border: none;
    background-color: var(--verezza-white-primary);
}

.removeItem{
    display: flex;
    all: unset;
    margin-left: auto;
    cursor: pointer;
    color: var(--verezza-black-primary);
}

.BagFooter {
    flex-shrink: 0;
    padding: 24px 0;
    justify-self: end;
    align-self: end;
    width: 100%;
}

.BagFooterWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--verezza-black-tp);
}

.BagFooterWrapper p{
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 600;
}

.BagFooterWrapper .btn-secondary{
    margin-top: 16px;
    width: 100%;
    border-radius: 0;
    height: 56px;
}

@media screen and (max-width: 450px) {
   .bagPriceIrem .priceWrapper .productPrice{
    display: flex;
    flex-direction: column;
   }
}